version: '3.8'

services:
  n8n:
    image: ghcr.io/macosupdate/n8nr2:latest
    restart: always
    environment:
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_PORT=5678
      - NODE_ENV=production
      - N8N_SECURE_COOKIE=false
      - EXECUTIONS_DATA_SAVE_ON_ERROR=none
      - R2_ACCESS_KEY=${R2_ACCESS_KEY}
      - R2_SECRET_KEY=${R2_SECRET_KEY}
      - R2_ENDPOINT=${R2_ENDPOINT}
      - R2_BUCKET=backup
      - DB_PATH=n8n/database.sqlite
      - N8N_ENCRYPTION_KEY=E5cyaPxQH6TVRnkV
    networks:
      - internal

  cloudflared:
    # image: cloudflare/cloudflared:latest
    image: ghcr.io/macosupdate/cloudflared:latest
    restart: always
    command: tunnel --config /argo.yml run
    volumes:
      - /home/runner/cloudflare/argo.yml:/argo.yml
      - /home/runner/cloudflare/argo.json:/argo.json
    networks:
      - internal

networks:
  internal:
    driver: bridge
