name: test

on:   
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Run container
        run: |
          docker run -e MY_SECRET=${{ secrets.GH_TOKEN }} alpine sh -c 'echo "$MY_SECRET"'
