name: test

on:   
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
    steps:
      - name: Run container
        run: |
          docker run -e MY_SECRET=${{ GH_TOKEN }} alpine sh -c 'echo "$MY_SECRET"'
